@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-bg-400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .title {
    @apply text-4xl md:text-6xl text-body-100;
  }
  .title__cursor {
    @apply text-4xl md:text-6xl text-body-100;
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
  }
}